/* Drop-Down Menü */
/* Blendet das Dropdown- Menü ein, wenn die Maus über eine Kategorie ist. */
.navigation li:hover > ul {
	visibility: visible; 
	padding: 0;
}
/* Verbirgt das Dropdown- Menü wenn die  Maus über keine Kategorie ist. */
.navigation ul, .navigation ul li ul {
	visibility: hidden; 
	list-style: none;;
	border-top : 12px solid #6c7b35 ;
	background: linear-gradient(to  bottom, gray  , black); 
	position: absolute;
      
}
.Untermenu{
	width: 100px;
	text-align: center;
}
.navigation .Spalte {
	width: 150px;
	height: auto;
	float: left;  
	display: inline; 
}
