body{
	margin: 0;
}
.body {
    width: 100%;
}
.mainHeader{
	width: 100%;
	position: fixed;
}
.HeaderContent{
	display: none;
}
.mobileHeader {
	display: table;
background: #82a143;	
width: 100%;
height: 60px;
	padding: 0px;
}
.menu-trigger{
	display: block;
	background-image: url('../Images/Design/nav-icon.png');
	 background-repeat: no-repeat;
  background-position: center;
  text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	width:46px;
	height: 46px;
	margin: 7px;
}
.logoCell{
	display: table-cell;
	vertival-align: center;
	padding: 0px;
	margin: 0px;
}
img.logo {
    height: 50px;
    vertival-align: center;
}
.nav{
	padding-top: 60px;
	height: 250px;
	display: none;
	border-bottom: 3px solid black;
	padding: 0px;
	margin: 0px;
	background: #EDFDD5;
}
.mobileMenuHeader{
	display: block;
	width: 100%;
	padding: 2px;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
}
.mobileMenuHeader ul{
	width: 100%;
	display: table;
	margin: 0px;
	padding: 0px;
}
.mobileMenuHeader ul li{
	display: table-cell;
}
.warenkorbCell{
	 width: 33%;
	 vertical-align: middle;
	  background-position: center;
	  padding-top:10px;
	  padding-left: 0px;
	  border-right: 2px solid #fff;
}
.warenkorbCell:hover{
	display: none;
}
.warenkorbCellMengeHeader{
	 vertical-align: middle;
}
.accountCell{
	 width: 33%;
	 vertical-align: middle;
	 background-position: center;
	 padding-top:10px;
	 padding-left: 0px;
}
.accountCell:hover{
	display: none;
}

.mobileSearchCell{
   display: table-cell;
   vertical-align: middle;
   width: 33%;
   background-image: url('../Images/Design/mobileSuche.png');
   background-repeat: no-repeat;
  background-position: center;
   padding-left: 0px;
   padding-top:10px;
   font-size:13px;
   color:white;
   border-left: 2px solid #fff;
}
.mobileSearchCell:hover{
	display: none;
}
.navigation{
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.navigation li {
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
	 vertical-align: middle;
	background:gray;
	 border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-color: #788A5F;
    float: none;
}
.navigation li:last-child{
	border-bottom: none;
}

.navigation li a{
	display: inline-block;
	width: 84%;
	vertical-align: middle;
	color: #EDFDD5;
}
.navigation li a:hover{
	 border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.navigation li:hover > ul {
  	display: none;
}
.fahrrad_katg, .uebersicht_konto{
	display: block;
	width: 100%;
	background-color: #EDFDD5;
}
.fahrrad_katg h2, .uebersicht_konto h2{
	text-align: center;
	margin: 0px;
	padding: 10px 0px;
	font-size: 24px;
}
.fahrrad_katg a, .uebersicht_konto a{
}
.fahrrad_katg ul, .uebersicht_konto ul{
	display: block;
	width: 100%;
	margin: 0px;
	padding: 5px;
}
.fahrrad_katg ul li, .uebersicht_konto ul li{
	display: block;
	width: 90%;
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.fahrrad_katg ul li a, .uebersicht_konto ul li a{
	display: block;
	width: 100%;
	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	color: #fff;
	background:gray;
	border-color: #788A5F;
	font-size: 20px;
	border-style: outset;
}
.Spalte a{
	color: #fff;
}
/*Content*/

.mainContent{
	width: 100%;
	margin-top: 80px;
}
.content{
	width: 100%;
	margin-top: 0px;
	padding: 0;
	padding-top: 13px;
}
.detailContent {
	margin: 5px 5px;
	padding: 5px 0;
	display: block;
}

.detailLeft{
	width: 100%;
	display:block;
}

.detailCell {
	display: block;
}

.detailMiddle{
	width: auto;
	display: inline-block;
	vertical-align: middle;
	padding: auto;
}

.detailContentText {
    width: auto;
    display: inline-block;
    margin: auto auto;
    vertical-align: middle;
}

/*Warenkorb*/
.warenkorbFeld{
	display: table;
}

.textfeld{
	width: 50px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
	margin: 0 15px;
	
}

.buttonInWarenkorb {
	width: 150px;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
}

.warenkorbCellMengeHeader{
	width: 22px;
	text-align: center;
	display: inline-block;
	margin-left: 7px;
}

.auflistung_warenkorb{
	display: block;
	margin: 0px 0px;
	width: 100%;
}

.auflistung_warenkorb .aktuelleArtikelimWarenkorb .ArtikelnameWarenkorb{
	width:20px;
}

.auflistung_warenkorb .aktuelleArtikelimWarenkorb .ArtikelmengeWarenkorb{
	width:20px;
}

.warenkorb_alle_markieren_link{
	position: absolute;
	margin-top: -43px;
}
.middleContent {
	clear: both;
    width: 100%;
    margin: 0 5px;
}
.ArtikelnameWarenkorb{
	width: 25px;
}
.bereich_button_warenkorb_volle_uebersicht{
	margin: 20px auto;
	width: 100%;
}
.button_warenkorb_volle_uebersicht_rechts_ausrichten{
	float: center;
}
.ArtikelbildWarenkorb{
	width: 20px;
}
.form_content .auflistung_warenkorb .aktuelleArtikelimWarenkorb .ArtikelbildWarenkorb .Artikelbild {
	width: 20px;
}
.ArtikelbildWarenkorb, .ArtikelnameWarenkorb, .ArtikelmengeWarenkorb, .ArtikelmarkiercheckboxWarenkorb, .ArtikelLoeschenWarenkorb, .ArtikelPreisWarenkorb{
	display: table-cell;
	text-align: center;
	padding-left: 1px;
	padding-top: 1px;
	vertical-align: middle;
	border-bottom: solid 1px;
}
.ArtikelbildWarenkorb{
	display: none;
	}
/*Formulars*/
#reg_link a{
	color: #d56509;
}

#registrierung, #suche_erweitert, #form_adresse_aendern, #form_email_passwort_aendern, #login, #form_bestellung{
    display:block;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
    margin-top:0px;
}
#registrierung h2, #suche_erweitert h2, #form_adresse_aendern h2, #form_email_passwort_aendern h2, #login h2, #form_bestellung h2 {
    display: block;
     border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  	padding: 0px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #EDFDD5;
    color: #d56509;
     font-size: 24px;  
}
.reg_form_zeile{
    padding-left: 5px;
    padding-right: 5px;
}

#registrierung .form_content, #suche_erweitert .form_content, #form_adresse_aendern .form_content, #form_email_passwort_aendern .form_content, #login .form_content, #form_bestellung .form_content{
	display: table-cell;
	padding: 2px;
}

#registrierung input[type=submit], #suche_erweitert input[type=submit], #form_adresse_aendern input[type=submit], #form_email_passwort_aendern input[type=submit], #login input[type=submit]{
    float: right;
    margin-right: 20px;
}
/* Buttonformatierung */
input[type=submit], input[type=button], .link_button, .link_button_msgbox,.grauer_link_button{
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	color: #fff;
	padding:6px;
	padding-left: 15px;
	padding-right: 15px;
	background:gray;
	border-color: #788A5F;
	font-size: 16px;
	border-style: outset;
	background: linear-gradient(to  bottom, black  , gray);
}


#btn_zur_kasse{
	margin-left:5px;
}

.link_button_msgbox{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

input[type=submit]:hover , input[type=button]:hover, .contentPopupRegistrierung input[name="anmeldung_submit"]:hover, .link_button:hover, .grauer_link_button:hover, .link_button_msgbox:hover{
	background: #d56509; 
	text-shadow: none;  
	color: black;
	border-color: orange;
	background: linear-gradient(to  bottom, #d56509  , orange 15%, #d56509);
}

.reg_form_zeile label, .reg_form_zeile span{
    width: 100%;
    display:inline-block;
}

#registrierung .std_reg,  #suche_erweitert .std_reg, #form_adresse_aendern .std_reg, #form_email_passwort_aendern .std_reg, #form_bestellung .std_reg{
	width: 100%;
}

#registrierung .lang_reg, #suche_erweitert .lang_reg, #form_adresse_aendern .lang_reg, #form_email_passwort_aendern .lang_reg, #login .lang_reg, #form_bestellung .lang_reg{
	width: 100%;
}

input.hausnr, input.plz, input.bereich_preis{
	width: 30%;
}

label.hausnr{
	margin-left: 0px;
	width: 100%;
}

label.ort{
	margin-left: 0px;
	width:100%;
}

.clear_right{
	clear: right;
}

.reg_box_aufteilung{
	display: table;
	/*background:linear-gradient(to bottom right ,#6c7b35 ,#82a143 , #788A5F );*/
	background-color: #EDFDD5;
    color: black;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    margin-top:0px;
    padding: 5px;
    width: 100%;
}



.reg_box_iconbereich, .suche_box_iconbereich, .adresse_aendern_box_iconbereich, .email_aendern_box_iconbereich, .versandadresse_iconbereich, .warenkorb_iconbereich{
	display: none;
}

.warenkorb_iconbereich{
	background-image: url('../Images/Design/warenkorb.png');
}

.adresse_aendern_box_iconbereich{
	background-image: url('../Images/Design/adresse_aendern.png');
}

.email_aendern_box_iconbereich{
	background-image: url('../Images/Design/email_aendern.png');
}

.suche_box_iconbereich{
	background-image: url('../Images/Design/suche.png');
}

.reg_box_iconbereich img{
	display: block;
}

.TableRow_reg{
	display: table-row;
}

.text_fehlermeldung{
	color: #fff;
	font-weight: bold;
	background-color: black;
	padding: 5px;
	padding-left: 10px;
	padding-right:10px;
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.listeneintrag_bewertung:hover > .popupBewertungProduktauflistung, .artikeldetails_bewertung:hover > .popupBewertungProduktauflistung {
	display: none;
}

/*Produktauflistung*/
.auflistung_produkte{
	margin: 0px;
	width: 100%;
	padding: 0px;
}

.listeneintrag_auflistung_produkte_content{
	display: block;
	width: 100%
}

.listeneintrag_auflistung_produkte_bild{
	display: inline-block;
	width: auto;
	text-align: center;
}

.listeneintrag_auflistung_produkte_beschriftung{
	display: inline-block;
	width: auto;
	text-align: left;
	padding-left: 5px;
}


.listeneintrag_bewertung{
	width: auto;
}

.box_seitennavigation_ergebnis_seiten{
	width: 100%;
	margin: 5px auto;
}

.seiten_nummern a{
	color: #000;
}

/*Footer*/
.mainFooter {
	background: #82a143;
}