body {
    background: grey ;
    color: #000305;
    font-size: 87.5 %; /* Base font size is 14 px */
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
    
}

.mainContent a, .nav a {
    text-decoration: none;
}

.mainContent a:link, .nav a:link, .mainContent a:visited, .nav a:visited {
    color: #d56509; 
    
}

.mainContent a:hover, .nav a:hover, .mainContent  a:active, .nav  a:active {
    background-color: #d56509;
    color: #fff;    
}

.body {
    margin: 0 auto;
    width: 1024px;
    clear: both;
}

.mainHeader {
    background:linear-gradient(to bottom right ,#6c7b35 , 	#82a143 , white );
    position: fixed;
    width: 1024px;
    top: 0px;
}

.HeaderContent{
    display: table;
    width: 100%;
}

.TableRow {
    display: table-row;
    width: 100%;
}

.logoCell{
   display: table-cell; 
   vertical-align: middle;
   width: 100px;
}

.searchCell{
    display: table-cell;
    vertical-align: middle;
    width: 600px; 
}

.warenkorbCell{
   display: table-cell;
   vertical-align: top;
   width: 80px;
   background-image: url('../Images/Design/warenkorb.png');
   background-repeat: no-repeat;
   background-position: 15px 35px;
   padding-left: 18px;
   padding-top:42px;
   font-size:12px;
   color:yellow;
}

.accountCell{
   display: table-cell;
   vertical-align: middle;
   width: 100px;
   padding-top: 40px;
   background-image: url('../Images/Design/account.png');
   background-repeat: no-repeat;
   background-position: 0px 35px;
}

.accountCell:hover{
	background-image: url('../Images/Design/account_hover.png');
}

img.logo {
    height: 90px;
    margin-top: 10px;
    margin-left: 15px; 
}


img.account {
    width: 40px;
    height: 40px;
}


/* Hauptmenü und Überschrift Registrierung*/
.nav,  #registrierung h2{
   background: linear-gradient(to  bottom, black  , gray); 
   height: 40px;
   
}

.navigation{
    list-style: circle;
    margin: 0 auto;
}

.navigation li {
    float: left;
    display: inline;
}

.nav a:link, .nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.nav a:hover, .nav a:active,
.nav .active a:link, .nav .active a:visited{
    background: linear-gradient(to  bottom, #d56509  , orange 15%, #d56509); 
    text-shadow: none;  
    color: black;
    
}

/* Drop-Down Men� */
.navigation li:hover > ul {
    visibility: visible;
    padding: 0;
}

.navigation ul, .navigation ul li ul {
    visibility: hidden;
    list-style: none;;
    border-top : 12px solid #6c7b35 ;
    background: linear-gradient(to  bottom, gray  , black);
    position: absolute;
      
}

.Untermenu{
    width: 100px;
    text-align: center;
}


.navigation .Spalte {
    width: 150px;
    height: auto;
    float: left;  
    display: inline; 
}


.mainContent {
    line-height: 25px;
   
    
}

.content {
    /* 70& wenn Sidebars erw�nscht sind
    /*aktivieren, zwalls Sidebars erw�nscht sind
    float: left;
    */
    margin-top: 150px;
    background-color: #fff;
    padding: 15px;
}

.topContent {
    background-color: #fff;
    margin-top: 2px;
}

.bottomContent {
    background-color: #fff;
    margin-top: 2px;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 98%;
}

/*aktivieren, zwalls Sidebar erw�nscht sind
.top-sidebar {
    width: 21%;
    float: left;
    background-color: #fff;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.middle-sidebar {
    width: 21%;
    float: left;
    background-color: #fff;
    margin-left: 3%;
     margin-bottom: 2%;
    padding: 2% 3%;
}

.bottom-sidebar {
    width: 21%;
    float: left;
    background-color: #fff;
    margin-left: 3%;
     margin-bottom: 2%;
    padding: 2% 3%;
}
*/

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;  
    background:linear-gradient(to top right ,#6c7b35 , 	#82a143 , white );
}

.mainFooter p {
    width: 92%;
    margin:  0px auto;
    color: #fff;
    
}

/* ############################################## Registierung ############################################## */


#registrierung{
    display:block;
    margin: 0px auto;
    width: 640px;
    padding: 0px;
    margin-top:10px;
}

#registrierung h2{
    padding-left: 15px;
    display: table-cell
    vertical-align: middle;
     border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    margin: 0px;
    vertical-align: middle;
    color: #fff;
    display: table-cell;
     width: 640px;
     font-size: 18px;
}

.reg_form_zeile{
    padding-left: 20px;
    padding-right: 20px;
}

#registrierung .form_content{
	display: table-cell;
	padding: 10px;
}

#registrierung input[type=submit]{
    float: right;
    margin-right: 20px;
}

/* Buttonformatierung */
input[type=submit], input[type=button]{
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	color: #fff;
	padding:6px;
	padding-left: 15px;
	padding-right: 15px;
	background: linear-gradient(to  bottom, black  , gray);
	border-color: #788A5F;
	font-size: 16px;
}

input[type=submit]:hover , input[type=button]:hover{
	background: linear-gradient(to  bottom, #d56509  , orange 15%, #d56509); 
	text-shadow: none;  
	color: black;
}

.reg_form_zeile label, .reg_form_zeile span{
    width: 120px;
    display:inline-block;
}

#registrierung .std_reg{
	width: 160px;
}

#registrierung .lang_reg{
	width: 260px;
}

input.hausnr, input.plz{
	width: 72px;
}

label.hausnr{
	margin-left: 10px;
	width: 75px;
}

label.ort{
	margin-left: 45px;
	width:40px;
}

.clear_right{
	clear: right;
}

.reg_box_aufteilung{
	display: table;
	background:linear-gradient(to bottom right ,#6c7b35 ,#82a143 , #788A5F );
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    margin-top:0px;
    padding: 10px;
    width: 620px;
}

.reg_box_iconbereich{
	display: table-cell;
	width: 80px;
	padding-top: 20px;
	background-image: url('../Images/Design/kunde_plus.png');
	background-repeat: no-repeat;
	background-position: 10px 20px;
}

.reg_box_iconbereich img{
	display: block;
}

.TableRow_reg{
	display: table-row;
}

.text_fehlermeldung{
	color: #fff;
	font-weight: bold;
	background-color: black;
	padding: 5px;
	padding-left: 10px;
	padding-right:10px;
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.popupRegistrierung{
	position: fixed;
	width: 240px;
	height: 120px;
	margin-left:-190px;
	visibility: hidden;
}

.haken_sprechblase{
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #545454;
	margin-left: 195px;
	width: 0px;
	height: 0px;
}

.contentPopupRegistrierung{
	height: 120px;
	/*background: transparent linear-gradient(to bottom, #fff 1%, #585858) repeat scroll 0% 0%;*/
	background-color: #545454;
}

.accountCell:HOVER > .popupRegistrierung{
	visibility: visible;
}